<?xml version="1.0" encoding="utf-8"?>

<elv indexer="ExternalIndexer">
  <!-- 
 Below is a sample of an Elv rule that looks for a document type of type "textPage"
 and a property alias named "samplePicker". If this is an MNTP, the id(s) that would normally
 be in the property value in the Examine index will be substituted with the target node name(s)
 (separated by a space if there are more than one).
 
 Uncomment and adapt this rule or create your own. 
 You can create multiple rules.
 -->
 
 <!--
  <rule docTypeAlias="TextPage" propertyAlias="samplePicker"/>
-->

  </elv>